<h1 mat-dialog-title>{{ 'dialog.delete.title' | translate }} {{ data.name }}</h1>
<div mat-dialog-content>
  <p>
    {{ 'dialog.delete.question' | translate }} <span>{{ data.name }}</span
    >?
  </p>
  <p>
    {{'hero.field.class' | translate}}:<span>{{ data.class }}</span>
  </p>
  <p>
    {{ 'hero.field.race' | translate}}: <span>{{ data.race }}</span>
  </p>
  <p>{{ 'dialog.delete.content' | translate }}</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button color="warn" [mat-dialog-close]="data">Delete</button>
</div>
