/* HeroDetailComponent's private CSS styles */
/* label {
  color: #435960;
  font-weight: bold;
} */
/* input {
  font-size: 1em;
  padding: 0.5rem;
} */
.form-field {
  width: 250px;
}
.active-butt {
  margin-right: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
.mat-badge span {
  font-size: small;
}
