<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2
      *ngIf="existisHero; else addHeroTitle"
      [matBadge]="id?.value"
      matBadgeColor="accent"
      matBadgeOverlap="false"
      matBadgeSize="medium"
      matBadgePosition="above before"
    >
      {{ name?.value | uppercase }} {{ 'heroesDetail.title.detail' | translate}}
    </h2>
    <ng-template #addHeroTitle>
      <h2>{{ 'heroesDetail.title.add' | translate}}</h2>
    </ng-template>
    <!-- name -->
    <mat-form-field [color]="getTheme()" class="form-field">
      <mat-label>{{ 'heroesDetail.form.nameField.label' | translate}}</mat-label>
      <input type="text" matInput formControlName="name" />

      <mat-error class="error" *ngIf="name!.hasError('required')"
        >{{ 'heroesDetail.form.nameField.requiredError' | translate}}</mat-error
      >
      <mat-error class="error" *ngIf="name!.hasError('pattern')">
        {{ 'heroesDetail.form.nameField.patternError' |translate }}</mat-error
      >
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearName()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- Age -->
    <mat-form-field [color]="getTheme()" class="form-field">
      <mat-label>{{ 'heroesDetail.form.ageField.label' | translate}}</mat-label>
      <input type="number" matInput formControlName="age" />
      <mat-error class="error" *ngIf="age!.hasError('min')"
        >{{ 'heroesDetail.form.ageField.minValue' | translate}}</mat-error
      >
      <mat-error class="error" *ngIf="age!.hasError('max')"
        >{{ 'heroesDetail.form.ageField.maxValue' | translate}}</mat-error
      >
      <mat-error class="error" *ngIf="age!.hasError('pattern')"
        >{{ 'heroesDetail.form.ageField.pattern' | translate}}</mat-error
      >
      <mat-error class="error" *ngIf="age!.hasError('required')"
        >{{ 'heroesDetail.form.ageField.required' | translate}}</mat-error
      >
      <mat-error class="error" *ngIf="age!.invalid">{{ 'heroesDetail.form.ageField.invalid' | translate}}</mat-error>
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAge()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- class -->
    <mat-form-field [color]="getTheme()" class="form-field">
      <mat-label>{{ 'heroesDetail.form.classField.label' | translate}}</mat-label>
      <mat-select formControlName="class">
        <mat-option *ngFor="let class of staticData.CLASSES" [value]="class">
          {{ class }}
        </mat-option>
      </mat-select>
      <mat-error class="error" *ngIf="class!.hasError('required')"
        >{{ 'heroesDetail.form.classField.requiredError' | translate}}</mat-error
      >
    </mat-form-field>

    <!-- race -->
    <mat-form-field [color]="getTheme()" class="form-field">
      <mat-label>{{ 'heroesDetail.form.raceField.label' | translate}}</mat-label>
      <mat-select formControlName="race">
        <mat-option *ngFor="let race of staticData.RACES" [value]="race">
          {{ race }}
        </mat-option>
      </mat-select>
      <mat-error class="error" *ngIf="race!.hasError('required')"
        >{{ 'heroesDetail.form.raceField.requiredError' | translate}}</mat-error
      >
    </mat-form-field>

    <!-- sex -->
    <mat-form-field [color]="getTheme()" class="form-field">
      <mat-label>{{ 'heroesDetail.form.sexField.label' | translate}}</mat-label>
      <mat-select formControlName="sex">
        <mat-option *ngFor="let sex of staticData.SEX" [value]="sex">
          {{ sex }}
        </mat-option>
      </mat-select>
      <mat-error class="error" *ngIf="sex!.hasError('required')"
        >{{ 'heroesDetail.form.classField.requiredError' | translate}}</mat-error
      >
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        [color]="getTheme()"
        class="active-butt"
        type="button"
        (click)="goBack()"
      >
        {{ 'heroesDetail.form.button.back' | translate }}
      </button>
      <button
        mat-raised-button
        [color]="getTheme()"
        class="active-butt"
        type="submit"
        [disabled]="!heroForm.valid"
      >
        {{ buttonCupture | translate}}
      </button>
    </div>
  </div>
</form>
