.new-hero {
  width: 250px;
}

#badge {
  margin-top: 5px;
}

.add-button {
  align-self: center;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 120px;
}

.add-button:hover {
  box-shadow: 2px 2px 20px 2px rgba(34, 60, 80, 0.2);
}
.demo-table {
  width: 100%;
}
.mat-mdc-form-field {
  font-size: 15px;
  width: 100%;
}
.mat-column-id {
  border-right: 1px solid currentColor;
  text-align: center;
}
.mat-column-name {
  width: 400px;
  padding-left: 16px;
  text-align: center;
  justify-content: center;
}
.mat-column-age {
  padding-left: 16px;
  text-align: center;
}
.mat-column-sex {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.mat-column-options {
  border-left: 1px solid currentColor;
  text-align: center;
}
