.new-hero {
  width: 250px;
}

#badge {
  margin-top: 5px;
}

.add-button {
  align-self: center;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 120px;
}

.add-button:hover {
  box-shadow: 2px 2px 20px 2px rgba(34, 60, 80, 0.2);
}
