<h2 fxLayoutAlign="center center">My Heroes</h2>

<div fxLayout="column" fxLayoutAlign="center center">
  <button
    mat-raised-button
    color="primary"
    class="add-button"
    routerLink="/add-hero"
  >
    Add hero
  </button>
</div>

<mat-nav-list>
  <mat-list-item *ngFor="let hero of heroes" routerLink="/detail/{{ hero.id }}">
    <span fxFlexOffset="0 120px" matListItemIcon id="badge">{{ hero.id }}</span>
    <a matListItemTitle>{{ hero.name }}</a>
    <button
      mat-icon-button
      color="primary"
      (click)="delete(hero)"
      matListItemMeta
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
