<h2 fxLayoutAlign="center center">My Heroes</h2>

<div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field class="new-hero">
    <mat-label>Hero name</mat-label>
    <input matInput type="text" #heroName />
    <button
      *ngIf="heroName.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="heroName.value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="add-button"
    (click)="add(heroName.value); heroName.value = ''"
  >
    Add hero
  </button>
</div>

<mat-nav-list>
  <mat-list-item *ngFor="let hero of heroes" routerLink="/detail/{{ hero.id }}">
    <span fxFlexOffset="0 120px" matListItemIcon id="badge">{{ hero.id }}</span>
    <a matListItemTitle>{{ hero.name }}</a>
    <button
      mat-icon-button
      color="primary"
      (click)="delete(hero)"
      matListItemMeta
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
