<div
  id="search-component"
  fxLayout.gt-lg="column"
  fxLayoutAlign="center center"
>
  <mat-form-field class="example-full-width" appearance="fill" color="accent">
    <mat-label>{{ 'dashboard.search' | translate}}</mat-label>
    <input
      type="text"
      #searchBox
      matInput
      [matAutocomplete]="auto"
      (input)="search(searchBox.value)"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let hero of heroes$ | async"
        routerLink="/detail/{{ hero.key }}"
      >
        {{ hero.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
